---
import BaseLayout from '../layouts/BaseLayout.astro'
import HostedOnFOC from '../components/HostedOnFOC.astro'
---

<BaseLayout wfPage="68e964a3dedb02d0181e7cb0">
<div class="header-navigation w-nav" data-animation="default" data-collapse="medium" data-doc-height="1" data-duration="400" data-easing="ease" data-easing2="ease" role="banner">
  <div class="header-navigation-container-2">
    <div class="w-layout-grid navigation-bar-grid">
      <div class="nav-left-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a8a-de0ea221">
        <div class="menu-button-3" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a8b">
          <div class="menu-lines">
            <div class="navbar-menu-line-2 move">
            </div>
            <div class="toggle-spacer">
            </div>
            <div class="navbar-menu-line-2">
            </div>
          </div>
        </div>
      </div>
      <div class="nav-middle-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a90-de0ea221">
        <a class="logo-image-wrapper w-inline-block" href="#" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a91-de0ea221">
          <img alt="" class="image" height="50" loading="lazy" src="/img/horizontal-long-white.svg"/>
        </a>
      </div>
      <div class="nav-right-grid-block mobile-hide" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a93-de0ea221">
      </div>
    </div>
    <div class="side-menu-container-2" data-scroll="stop">
      <div class="side-menu-links-wrapper-2">
        <div class="side-menu-links-container">
          <div class="image-wrapper nav-x-icon" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a9f">
            <img alt="X icon." class="inner-nav-logo" loading="lazy" src="/img/x.svg"/>
          </div>
          <div class="side-menu">
            <div class="footer-links-wrapper header">
              <a class="footer-link-2 header" href="https://docs.filbeam.com">
                Docs
              </a>
              <a class="footer-link-2 header-copy" href="https://dashboard.filbeam.com">
                Dashboard
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page-wrapper">
  <div class="inner-page-wrapper home">
    <section class="section overflow-hidden">
      <div class="w-layout-blockcontainer container white-text purple-brain top-header w-container">
        <div class="w-layout-grid content-grid purple-brain display-none-tablet">
          <div class="grid-block">
            <div class="content-wrapper purple-brain-left home">
              <h1 class="h1-heading about-hero mobile">
                Filecoin Beam
              </h1>
              <p class="paragraph gray">
                The incentivized data delivery layer for Filecoin
              </p>
              <div class="text-box">
                <div class="text-box _19rem gray home">
                  <div class="w-layout-hflex flex-block-2">
                    <img alt="filecoin and protocol labs logo" loading="lazy" src="/img/fil-pl-logo.svg"/>
                    <div class="heading-7 mobile">
                      A Filecoin project, supported by Protocol Labs
                    </div>
                  </div>
                </div>
              </div>
              <div class="button-container header">
                <a class="button-link-block-3 black hero-section w-inline-block" href="https://docs.filbeam.com">
                  <div class="button-block _01 header">
                    <div class="text-block-3">
                      Get Started
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="grid-block">
            <div class="content-wrapper purple-brain-right header">
              <img alt="" class="image-2" loading="lazy" src="/img/header-illustration.avif"/>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section overflow-hidden">
      <div class="hero-lines-container home">
        <div class="vertical-line hero">
        </div>
        <div class="vertical-line hero">
        </div>
        <div class="vertical-line hero">
        </div>
        <div class="vertical-line hero no-right-border-mobile">
        </div>
        <div class="vertical-line hero no-right-border-mobile">
        </div>
        <div class="vertical-line hero no-right-border-mobile">
        </div>
      </div>
      <div class="image-wrapper hero-main">
      </div>
    </section>
    <section class="section station-checker home callout">
      <div class="w-layout-blockcontainer container-two w-container">
        <h2 class="h2-heading two-column-size callout mobile small">
          Filecoin Beam is the incentivized data delivery layer for Filecoin. Storage Providers for the first time can be paid in the protocol for serving data to clients.
        </h2>
      </div>
    </section>
    <section class="section scroll">
      <div class="w-layout-blockcontainer container sticky-cards home w-container">
        <div class="services-content-wrapper">
          <div class="sticky-services-left-block" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a080-181e7cb0">
            <div class="text-box sticky-cards-left">
              <h2 class="h2-heading two-column-size home-section-5">
                <span class="gradient-text">
                  <em>
                    Filecoin Beam
                  </em>
                </span>
                makes data delivery seamless and advantageous for both the clients and the providers.
              </h2>
            </div>
          </div>
          <div class="services-right-block" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a089-181e7cb0">
            <div class="grid-block">
              <div class="services-content-block home">
                <div class="image-wrapper services-right-block home" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a08c-181e7cb0">
                  <img alt="" class="content-image team-member-full absolute home" loading="lazy" src="/img/frame-17.svg"/>
                </div>
                <div class="grid-block" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a08e-181e7cb0">
                  <div class="text-box z-index-2">
                    <h3 class="h3-heading medium">
                      <span class="top-box">
                        For Clients
                      </span>
                    </h3>
                    <div class="text-box _19rem darker-gray wide">
                      <p class="paragraph gray no-margin">
                        <strong>
                          One URL, Zero Hassle:
                        </strong>
                        Access all PDP content via
                        <code>
                          filbeam.io
                        </code>
                        .
                        <br/>
                        <br/>
                        ‍
                        <strong>
                          Instant Global Speed:
                        </strong>
                        Consumer-grade performance, anywhere.
                        <br/>
                        <br/>
                        ‍
                        <strong>
                          Always-On Reliability:
                        </strong>
                        Your cached data stays online, even if Service Providers are temporarily down.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-number-circle sticky-cards home">
                  <div>
                    01
                  </div>
                </div>
              </div>
            </div>
            <div class="services-content-block home">
              <div class="image-wrapper services-right-block home" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a09d-181e7cb0">
                <img alt="" class="content-image team-member-full absolute home" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a09e-181e7cb0" loading="lazy" src="/img/frame-18.svg"/>
              </div>
              <div class="grid-block" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a09f-181e7cb0">
                <div class="text-box z-index-2">
                  <h3 class="h3-heading medium">
                    For Providers
                  </h3>
                  <div class="text-box _19rem darker-gray wide">
                    <p class="paragraph gray no-margin">
                      <strong>
                        Security First:
                      </strong>
                      Shields you from DDoS, scraping, and bad traffic.
                      <br/>
                      <br/>
                      ‍
                      <strong>
                        Get Paid to Serve:
                      </strong>
                      Earn rewards for serving data.
                      <br/>
                      <br/>
                      ‍
                      <strong>
                        Trustless by Design:
                      </strong>
                      Paid-per-byte for storage
                      <em>
                        and
                      </em>
                      retrieval.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card-number-circle sticky-cards home">
                <div>
                  02
                </div>
              </div>
            </div>
            <div class="grid-block">
              <div class="services-content-block home">
                <div class="image-wrapper services-right-block home" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a0ab-181e7cb0">
                  <img alt="" class="content-image team-member-full absolute home" loading="lazy" src="/img/frame-19.svg"/>
                </div>
                <div class="grid-block" id="w-node-_70124cf0-d9a4-4f61-2c64-5bf2c501a0ad-181e7cb0">
                  <div class="text-box z-index-2">
                    <h3 class="h3-heading medium _03">
                      For Network Health
                    </h3>
                    <div class="text-box _19rem darker-gray wide">
                      <p class="paragraph gray no-margin">
                        All Filecoin Beam retrieval data is submitted on chain so that clients can make informed decisions about which providers to do business with
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-number-circle sticky-cards home">
                  <div>
                    03
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
    </section>
    <section class="section small-top-margin">
      <div class="top-of-section-container general white">
        <div class="top-content-block-container">
          <div class="content-wrapper top-block">
            <div class="content-block home-boxes">
              <div class="top-block-eyebrow home">
                Roadmap
              </div>
            </div>
            <div class="content-block right-aligned">
            </div>
          </div>
        </div>
      </div>
      <div class="w-layout-blockcontainer text-boxes w-container">
        <div class="number-stat-cards-container">
          <div class="numbered-stat-card-wrapper right-border left-side">
            <div class="text-box sticky-product-02-intro">
              <h3 class="h3-heading intro-cards about-03-stat-card home-boxes">
                Q3 2025
              </h3>
              <p class="paragraph _4rem-bottom-margin home-boxes mobile">
                ✅ Launch: Filecoin Beam on Filecoin CalibrationNet
                <br/>
                ✅ Payments: payment channels on Filecoin for egress
                <br/>
                📆 Launch: Filecoin Beam on Filecoin Mainnet
                <br/>
                <br/>
              </p>
            </div>
            <div class="stat-number-wrapper">
            </div>
          </div>
          <div class="numbered-stat-card-wrapper right-border">
            <div class="text-box sticky-product-02-intro">
              <h3 class="h3-heading intro-cards about-03-stat-card home-boxes">
                Q4 2025
              </h3>
              <div class="text-box _19rem gray">
                <p class="paragraph _4rem-bottom-margin home-boxes">
                  🚧 Payments: Metered egress pricing plan
                  <br/>
                  🚧 Payments: Requester pays to retrieve model
                  <br/>
                  📆 Launch: Filecoin Beam General Access as part of Filecoin Onchain Cloud
                </p>
              </div>
            </div>
            <div class="stat-number-wrapper">
            </div>
          </div>
          <div class="numbered-stat-card-wrapper right-border">
            <div class="text-box sticky-product-02-intro">
              <h3 class="h3-heading intro-cards about-03-stat-card home-boxes">
                Q1 2026
              </h3>
              <div class="text-box _19rem gray">
                <p class="paragraph _4rem-bottom-margin home-boxes">
                  🚧 Feature: IPFS Interoperability
                  <br/>
                  🚧 Feature: x402 implementation
                  <br/>
                  🚧 Feature: Access Control
                  <br/>
                </p>
              </div>
            </div>
          </div>
          <div class="numbered-stat-card-wrapper right-border right-end">
            <div class="text-box sticky-product-02-intro">
              <h3 class="h3-heading intro-cards about-03-stat-card home-boxes">
                Q2 2026
              </h3>
              <div class="text-box _19rem gray">
                <p class="paragraph _4rem-bottom-margin home-boxes">
                  🚧 Feature: Erasure coding reconstruction
                  <br/>
                  🚧 Payments: Pay per byte protocol integrated
                  <br/>
                  🚧 Node: v1 Filecoin Beam node offering
                </p>
              </div>
            </div>
            <div class="stat-number-wrapper">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section funding">
      <div class="w-layout-layout quick-stack mobile wf-layout-layout" id="w-node-_7fa8455d-f1b8-4bbe-68bc-0cca21113063-181e7cb0">
        <div class="w-layout-cell cell funding mobile">
          <div class="logo-column-title services-eyebrow _02 gradient-text logo-strip">
            Funding Partners
          </div>
        </div>
        <div class="w-layout-cell cell logo mobile">
          <img alt="" class="marquee-horizontal-logo-image" decoding="async" height="45" loading="eager" src="/img/filecoin-foundation-logo.svg"/>
        </div>
        <div class="w-layout-cell cell logo mobile">
          <img alt="" class="marquee-horizontal-logo-image" decoding="async" height="45" loading="eager" src="/img/pl-vs-logo.svg" width="68"/>
        </div>
        <div class="w-layout-cell cell logo mobile">
          <img alt="" class="marquee-horizontal-logo-image" decoding="async" height="45" loading="eager" src="/img/image-27.svg" width="68"/>
        </div>
      </div>
    </section>
    <div class="header-navigation w-nav" data-animation="default" data-collapse="medium" data-doc-height="1" data-duration="400" data-easing="ease" data-easing2="ease" role="banner">
      <div class="header-navigation-container-2">
        <div class="w-layout-grid navigation-bar-grid">
          <div class="nav-left-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a8a-de0ea221">
            <div class="menu-button-3" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a8b">
              <div class="menu-lines">
                <div class="navbar-menu-line-2 move">
                </div>
                <div class="toggle-spacer">
                </div>
                <div class="navbar-menu-line-2">
                </div>
              </div>
            </div>
          </div>
          <div class="nav-middle-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a90-de0ea221">
            <a class="logo-image-wrapper w-inline-block" href="#" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a91-de0ea221">
              <img alt="" class="image" height="50" loading="lazy" src="/img/horizontal-long-white.svg"/>
            </a>
          </div>
          <div class="nav-right-grid-block mobile-hide" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a93-de0ea221">
          </div>
        </div>
        <div class="side-menu-container-2" data-scroll="stop">
          <div class="side-menu-links-wrapper-2">
            <div class="side-menu-links-container">
              <div class="image-wrapper nav-x-icon" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a9f">
                <img alt="X icon." class="inner-nav-logo" loading="lazy" src="/img/x.svg"/>
              </div>
              <div class="side-menu">
                <div class="footer-links-wrapper header">
                  <a class="footer-link-2 header" href="https://docs.filbeam.com">
                    Docs
                  </a>
                  <a class="footer-link-2 header-copy" href="https://dashboard.filbeam.com">
                    Dashboard
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation w-nav" data-animation="default" data-collapse="medium" data-doc-height="1" data-duration="400" data-easing="ease" data-easing2="ease" role="banner">
    <div class="header-navigation-container-2">
      <div class="w-layout-grid navigation-bar-grid">
        <div class="nav-left-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a8a-de0ea221">
          <div class="menu-button-3" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a8b">
            <div class="menu-lines">
              <div class="navbar-menu-line-2 move">
              </div>
              <div class="toggle-spacer">
              </div>
              <div class="navbar-menu-line-2">
              </div>
            </div>
          </div>
        </div>
        <div class="nav-middle-grid-block" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a90-de0ea221">
          <a class="logo-image-wrapper w-inline-block" href="#" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a91-de0ea221">
            <img alt="" class="image" height="50" loading="lazy" src="/img/horizontal-long-white.svg"/>
          </a>
        </div>
        <div class="nav-right-grid-block mobile-hide" id="w-node-_7bd6a3b1-d92a-adc1-0d76-21df00078a93-de0ea221">
        </div>
      </div>
      <div class="side-menu-container-2" data-scroll="stop">
        <div class="side-menu-links-wrapper-2">
          <div class="side-menu-links-container">
            <div class="image-wrapper nav-x-icon" data-w-id="7bd6a3b1-d92a-adc1-0d76-21df00078a9f">
              <img alt="X icon." class="inner-nav-logo" loading="lazy" src="/img/x.svg"/>
            </div>
            <div class="side-menu">
              <div class="footer-links-wrapper header">
                <a class="footer-link-2 header" href="https://docs.filbeam.com">
                  Docs
                </a>
                <a class="footer-link-2 header-copy" href="https://dashboard.filbeam.com">
                  Dashboard
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section footer">
  <div class="w-layout-blockcontainer container footer w-container">
    <div class="footer-content-container">
      <div class="w-layout-grid footer-blocks-grid">
        <div class="grid-block" id="w-node-_4af09bb6-3cd5-cffe-0cbc-8e2760592f18-60592f14">
          <div class="footer-content-wrapper right-border vertical-mobile-gray-boders">
            <div class="footer-item-block">
              <a aria-current="page" class="logo-link footer w-inline-block w--current" href="/">
                <img alt="" loading="eager" src="/img/horizontal-black.svg"/>
              </a>
            </div>
            <div class="footer-item-block">
              <div class="text-box _19rem gray">
                <p class="small-paragraph no-margin">
                  <a href="https://meridian.space">
                    A Space Meridian Project
                  </a>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="grid-block">
          <div class="footer-content-wrapper right-border _01">
            <div class="footer-item-block">
              <div class="text-box _19rem gray">
                <div class="footer-menu-title">
                  Links
                </div>
                <div class="footer-links-wrapper">
                  <a class="footer-link" href="https://dashboard.filbeam.com" rel="noopener" target="_blank">
                    Dashboard
                  </a>
                  <a class="footer-link" href="https://docs.filbeam.com" rel="noopener" target="_blank">
                    docs
                  </a>
                  <a class="footer-link" href="https://spacemeridian.notion.site/Terms-of-Service-248cdd5cccdb8037a510df55b221c5cd" rel="noopener" target="_blank">
                    Terms &amp; CoNditions
                  </a>
                  <a class="footer-link-copy" href="https://spacemeridian.notion.site/Privacy-Policy-248cdd5cccdb80c48a71e033ff829709" rel="noopener" target="_blank">
                    Privacy Policy
                  </a>
                  <a class="footer-link-copy" href="https://spacemeridian.notion.site/Copyright-Policy-24dcdd5cccdb80dcae60f4e8019f8410" rel="noopener" target="_blank">
                    COPYRIGHT Policy
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-item-block right mobile-hidden">
              <div class="text-box _19rem gray">
              </div>
            </div>
          </div>
        </div>
        <div class="grid-block">
          <div class="footer-content-wrapper right-border">
            <div class="footer-item-block">
              <div class="text-box _19rem gray">
                <div class="footer-menu-title">
                  THOUGHTS
                </div>
                <div class="footer-links-wrapper">
                  <a class="footer-link" href="https://meridian.space/blog" rel="noopener" target="_blank">
                    BLOG
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-item-block right mobile-hidden">
              <div class="text-box _19rem gray">
              </div>
            </div>
          </div>
        </div>
        <div class="grid-block">
          <div class="footer-content-wrapper right-border _02">
            <div class="footer-item-block">
              <div class="text-box _19rem gray">
                <div class="footer-menu-title">
                  SOCIAL
                </div>
                <div class="footer-links-wrapper">
                  <a class="footer-link" href="https://x.com/fileconbeam" rel="noopener" target="_blank">
                    X
                  </a>
                  <a class="footer-link" href="https://discord.gg/MphRbDZ2Kc" rel="noopener" target="_blank">
                    DISCORD
                  </a>
                  <a class="footer-link" href="https://t.me/checkernetwork" rel="noopener" target="_blank">
                    TELEGRAM
                  </a>
                </div>
              </div>
            </div>
            <div class="footer-item-block right mobile-hidden">
              <div class="text-box _19rem gray">
                <a class="footer-extra-links" href="#">
                  BUILT BY LUMEN
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<HostedOnFOC />
</BaseLayout>
